In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=['3.86.192.80:9092'],
                         value_serializer = lambda x:
                         dumps(x).encode('utf-8'))

In [ ]:
producer.send('demo_testing', value={'hello':'world there 2'})

In [3]:
df =pd.read_csv('indexProcessed.csv')

In [33]:
df.sample(2)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
100020,TWII,2013-10-15,8320.480469,8368.019531,8320.480469,8367.879883,8367.847656,2286900.0,334.715195
93137,SSMI,2009-12-08,6457.060059,6506.779785,6372.810059,6399.740234,6399.740234,66538900.0,7103.711660

In [26]:
df.sample(1).to_dict(orient='records')[0]

{'Index': 'NYA',
 'Date': '1971-10-26',
 'Open': 553.429993,
 'High': 553.429993,
 'Low': 553.429993,
 'Close': 553.429993,
 'Adj Close': 553.429993,
 'Volume': 0.0,
 'CloseUSD': 553.429993}

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient='records')[0]
    producer.send('demo_testing', value=dict_stock)

In [73]:
producer.flush()